<!DOCTYPE html>
<html>
<head>
    <title>MetricasResumen</title>
</head>
<body>
    <h1>Resumen de m&eacutetricas</h1>
    <p>Se presenta el resumen de las medidas de evaluaci&oacuten agrupadas por cada categoría, las metricas evaluadas son:</p>
        <ol>
        <li>Precision</li>
        <li>Exhaustividad</li>
        <li>Valor F</li>
        <li>Exactitud</li>
    </ol>
    <p> Mas información sobre estas metricas puede ser consultada en: <a href="https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html">RepositorioSklearn</a><p>
    <a href="{{ url_for('static', filename='evaluation.txt') }}">Resumen m&eacutetricas</a>
</body>
</html>





