<!DOCTYPE html>
<html>
<head>
    <title>MetricasModelos</title>
    <style>
        /* Define a style for the image to limit its size */
        img {
            max-width: 70%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Comparaci&oacuten de m&eacutetricas</h1>
    <p>Se presentan las m&eacutetricas asociadas a algunos de los experimentos realizados. En cada uno los par&aacutemetros optimizados y/o los rangos de optimizaci&oacuten fueron diferentes.</p>
    <img src="{{ url_for('static', filename='compare-metrics.png') }}" alt="An image">
</body>
</html>
